@model List<Blog>
@{
	ViewData["Title"] = "BlogListByWriter";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Blog Başlığı</th>
		<th>Oluşturma Tarihi</th>
		<th>Kategori</th>
		<th>Durum</th>
		<th> Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var item in Model)
	{

		<tr>
			<th>@item.BlogID</th>
			<th>@item.BlogTitle</th>
			<th>@(((DateTime)item.BlogCreateDate).ToString("d"))</th>
			<th>@item.Category.CategoryName</th>
			@if (item.BlogStatus == true)
			{
				<td><div class="" style="color:green;">Aktif</div></td>
			}
			else
			{
				<td><div class="" style="color:red;">Pasif</div></td>
			}
			<th><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></th>
			<th><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></th>

		</tr>
	}
</table>
<br />
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>