@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/web/images/StyleSheet.css">



<main class="bl_page404">
  <h1>Error 404. Bu Sayfa Bulunmamaktadır ?</h1>
  <p>Üzgünüz! Üzgünüz aradığın sayfayı bulamadık.  </p>
    <p>Anasayfaya Git </p>
  
  <div class="bl_page404__wrapper">
    <img src="https://github.com/BlackStar1991/Pictures-for-sharing-/blob/master/404/bigBoom/cloud_warmcasino.png?raw=true" alt="cloud_warmcasino.png">
    <div class="bl_page404__el1"></div>
    <div class="bl_page404__el2"></div>
    <div class="bl_page404__el3"></div>
    <a class="bl_page404__link" href="/Blog/Index">go home</a>
  </div>
</main>